@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body{
    font-family: Roboto, sans-serif;
}

shopping-list{
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.items-to-buy li{
    padding-bottom: 10px;
}

.items-to-buy h4,
.items-to-buy p{
    display: inline-block;
    margin: 0;
}


.items-to-buy h4::after{
    content: ' -';
}

button{
    background-color: #97dd79;
    cursor: pointer;
    color: #3f5d32;
    border: #659351 4px solid;
    border-radius: 12px;
}